* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  box-sizing: border-box;
}

body {
  background-color: #fff3b0;
}

header {
  width: 100%;
  background-color: #6a994e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-bar ul li a {
  display: block;
  color: #030303;
  padding: 10px 10px;
  border-radius: 15px 50px;
  transition: 0.2s;
  margin: 0 20px;
  font-size: 20px;
}

.nav-bar ul li a:hover {
  background: #fff3b0;
}

.nav-bar ul li a.active {
  background: #fff3b0;
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
    margin: 10px;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #030303;
    margin: 10px 0;
  }

  .nav-bar {
    height: 0px;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #6a994e;
    transition: 0.5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin: 10px 0;
  }

}